.addingForms__name__circle {
  border-radius: 20px;
  -moz-border-radius: 20px;
  -webkit-border-radius: 20px;
  width: 4px;
  height: 4px;
  background-color: #ff8484;
}

.addingForms__name__title {
  display: flex;
}

.addingForms__name__input {
  border: none;
  margin-top: 4px;
  width: 100%;
  font-size: 12px;
  padding: 10px 16px;
  background: #fffefb;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
}

.addingForms__name__input__false {
  border: 1px solid rgba(255, 33, 0, 0.69);
  margin-top: 4px;
  width: 100%;
  font-size: 12px;
  padding: 10px 16px;
  background: #fffefb;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
}
