header {
  display: flex;
  justify-content: space-between;
}

.select {
  padding: 10px 27px 10px 16px;
  appearance: none;
  border-radius: 5px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
  outline: none;
  cursor: pointer;
  border: none;
}

.select_wrapper {
  position: relative;
}

.select:focus {
  box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0.1),
    0px 0px 10px rgba(0, 0, 0, 0.1);
}

.select_wrapper::before {
  content: "";

  position: absolute;
  top: 50%;
  right: 12px;
  transform: translateY(-50%);
  display: block;
  pointer-events: none;

  width: 0;
  height: 0;
  border-style: solid;
  border-width: 10.4px 6px 0 6px;
  border-color: rgba(0, 0, 0, 0.1) transparent transparent transparent;
}
